<template>
    <carte-instrument :instrument="instrument"></carte-instrument>
</template>

<script>
import CarteInstrument from '@/components/CarteInstrument.vue';
import {useInstrumentStore} from '@/stores/instrument';
import {mapStores} from 'pinia';
export default {
    components: {CarteInstrument},
    computed: {
        ...mapStores(useInstrumentStore, ['getByName']),
        instrument() {
            return this.instrumentsStore.getByName(this.nomInstrument)
        }
    },
    props: {
        nomInstrument: {
            type: String,
            default: 'Aucun instrument sélectionné'
        },
    },
}
</script>