<template>
    <div class="card">
        <img :src="instrument.image">
        <h2>{{ instrument.name }}</h2>
        <p>Type : {{ instrument.type }}</p>
        <p>Prix : {{ instrument.price }} €</p>
        <slot name="bouton-payer"></slot>
        <router-link :to="'/instrument/' + instrument.name">
                 <button>Voir le détail</button>
        </router-link>
    </div>
</template>

<script>
export default {
    props: {
        instrument: {
            type: Object
        },
    },
}
</script>

<style scoped>
.card {
 border: 1px solid #ccc;
 border-radius: 5px;
 padding: 10px;
 margin: 10px;
 width: 200px;
}

.card img {
 width: 100%;
 height: auto;
 border-radius: 5px;
}

.card h2 {
 margin: 0;
 font-size: 18px;
}

.card p {
 margin: 5px 0;
}
</style>