<template>
    <label for="instruments">Afficher le paiement :</label>
    <input type="checkbox" v-model="afficherPaiement">
    <CarteInstrument
        v-for="instrument in instrumentsStore.instruments"  
        :instrument="instrument"
    >
    <template #bouton-payer>
        <button v-if="afficherPaiement" @click="payer">Acheter</button>
    </template>
    </CarteInstrument>
</template>

<script>
import CarteInstrument from '@/components/CarteInstrument.vue';
import {useInstrumentStore} from '@/stores/instrument';
import {mapStores} from 'pinia';
export default {
 computed: {
    ...mapStores(useInstrumentStore)
},
 components: {CarteInstrument},
 data() {
   return {
    afficherPaiement: false,
   }
 },
 methods : {
    payer() {
        window.alert("RUPTURE DE STOCK");
    }
 }
}
</script>